body{
    font-family:Arial;
    margin:0;
    padding:0;
}
.contact{
    background-color:rgb(55,142,229);
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
}
nav ul{
    list-style-type:none;
}
.flex-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container .contact-container{
    background-color:rgb(55, 142, 229);
    position: relative;
    margin:auto;
}
@media (max-width: 768px) {
    .navbar-collapse{
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px;
        z-index: 2001;
    }
}

@media (max-width: 768px) {
    .navbar{
        height: 49px;
        z-index:2001
    }
}
nav a{
    text-decoration:none;
    color:#000;
    font-size:20px;
}

#home,#about,#contact{
    padding: 20px;
    text-align: center;
}
nav {
    height: 49px;
    background-color: #fff;
    z-index: 2000;
}
.contact-container {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-details h3 {
    color: #007bff;
    margin-bottom: 15px;
}

.contact-details p {
    font-size: 16px; 
    margin-bottom: 10px; 
}

.contact-details a {
    color: #007bff;
    text-decoration:none;
}
.contact-details a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .contact-container {
        padding: 15px;
    }
}