body{
    font-family:Arial;
}

nav ul{
    list-style-type:none;
    text-align: center;
}

nav ul li{
    display:inline-block;
    margin: 0 10px;
}

nav a{
    text-decoration:none;
    color:#000;
    font-size:20px;
}

#home,#about,#contact{
    padding: 20px;
    text-align: center;
}
nav {
    height: 60px;
}

.home-main-content{
    position:relative;
    top:60px;
    min-height: (100vh - 60px);
    background-image: url("/images/Jordan-Richardson.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    overflow-y:auto
}
header,footer{
    font-weight:bold;
    margin-bottom:10px;
}

main{
    margin-bottom:20px;
}