body{
    font-family:Arial;
}

nav ul{
    list-style-type:none;
    text-align: center;
}

nav ul li{
    display:inline-block;
    margin: 0 10px;
}

nav a{
    text-decoration:none;
    color:#000;
    font-size:20px;
}

#home,#about,#contact{
    padding: 20px;
    text-align: center;
}
nav {
    height: 30px;
}

body.home .main-content{
    position:relative;
    top: 30px;
    min-height: calc(100vh - 30px);
    background-image: url("/images/Jordan-Richardson.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    overflow-y:auto;
}

body.about .main-content{
    position:relative;
    top: 30px;
    min-height: calc(100vh - 30px);
    background-image: url("/images/Jordan-Richardson.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    overflow-y:auto;
}

body.contact .main-content{
    position:relative;
    top: 30px;
    min-height: calc(100vh - 30px);
    background-image: url("/images/Jordan-Richardson.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    overflow-y:auto;
}
header,footer{
    font-weight:bold;
    margin-bottom:10px;
}

main{
    margin-bottom:20px;
}